:root{
    --color0: #000602;
    --color1: #000814;
    --color2: #001d3d;
    --color3: #003566;
    --color4: #ffc300;
    --color5: #ffd60a;
    --color-transparent: #003566cc;
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color1);
}

/* Intro */

#intro-img{
    position: relative;
    width: 100vw;
    height: 70vh;
    z-index: -2;
}

#intro-img img{
    width: 100%;
    height: 100%;
    z-index: -2;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#intro-img::after{
    background-image: linear-gradient(to bottom, transparent, var(--color1));
    height: 100px;
    width: 100%;
    display: block;
    content: '';
    top:calc(70vh - 100px);
    z-index: 1;
    position: absolute;
}

#intro-title{
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 30vh;
    background-color: var(--color-transparent);
    border-radius: 60%;
    height: 20vw;
    width: 60vw;
    box-shadow: 0px 10px 10px var(--color1);
    user-select: none;
}

#intro-title h1{
    z-index: 3;
    font-family: 'Raleway', sans-serif;
    color: var(--color5);
    font-size: calc(3vw + 2vh);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/* Burger */

.burger{
    position:fixed;
    right:2vw;
    top:1vh;
    height:40px;
    width:40px;
    cursor:pointer;
    z-index: 11;
}

.burger div{
    width: 100%;
    height:5px;
    margin-top:8px;
    background-color: #fff;
    box-shadow: 0px 3px 0px #ccc;
    transition: transform .3s, opacity .2s;
}

.brg-active #line1{
    transform: rotate(-45deg) translateY(16px) translateX(-5px);
}

.brg-active #line2{
    opacity: 0;
}

.brg-active #line3{
    transform: rotate(45deg) translateY(-15px);
}

/*Nav bar*/

nav{
    height: 100%;
}

.nav-bar{
    top: 0;
    font-family: poppins;
    z-index: 10;
    height: 100%;
    width: 45vw;
    background-color: var(--color2);
    float:right;
    right:0;
    position:fixed;
    transform:translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform .5s;
}

.nav-bar li{
    cursor: pointer;
    list-style:none;
    width:100%;
    position: relative;
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
    transition: .3s all;
    vertical-align: center;
    letter-spacing: 3px;
    font-weight: 300;
    user-select: none;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-bar li::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    top: 65%;
    background-color: var(--color4);
    transform: scale(0);
    transition: all .3s;
}

.nav-bar li:hover{
    background-color:var(--color3);
}

.nav-bar li:hover::after{
    transform: scale(1);
}

.nav-bar a{
    color: var(--color3);
    text-decoration: none;
}

.nav-bar a:hover{
    color: var(--color5);
}

.nav-active{
    transform: translateX(0%);
}

/* Container */

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#contact{
    background-color: var(--color3);
    width: 35vw;
    height: calc(30vh - 20px);
    position: relative;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact h1{
    position: relative;
    font-family: 'Raleway', sans-serif;
    user-select: none;
    color: var(--color0);
    font-size: calc(2vw + 1.5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    transition: all .3s;
}

#contact div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact div h4{
    padding-left: 10px;
    font-size: calc(1vw + 1vh);
    font-family: poppins;
    color: var(--color0);
}

#email-contact{
    height: 45%;
}

#contact h1::after{
    position: absolute;
    top: 4vh;
    content: '';
    height: 3px;
    width: 15vw;
    background: var(--color0);
    transform: scale(0);
    transition: transform .3s;
}

#contact:hover h1::after{
    transform: scale(1);
}

#start{
    width: 35vw;
    height: calc(30vh - 20px);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color3);
    background: linear-gradient(to left, var(--color3) 50%, var(--color4) 50%) right;
    background-size: 200%;
    font-size: calc(2vw + 2vh);
    font-family: 'Raleway', sans-serif;
    color: var(--color5);
    transition: background-position .5s ease-in, color .3s ease-in;
}

#container a{
    text-decoration: none;
}

#start:hover{
    background-position: left;
    color: var(--color0);
}
